{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-python/libpython-clj {:mvn/version "2.025"}
        scicloj/metamorph.ml {:mvn/version "0.7.2"}}
 :paths ["src" "resources"]}
