{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        clj-python/libpython-clj {:mvn/version "2.026"}
        org.scicloj/metamorph.ml {:mvn/version "1.0"}
        }
 :aliases 
 {
  :build {:extra-deps {io.github.seancorfield/build-clj
                       {:git/tag "v0.5.2" :git/sha "8f75b81"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}

                      org.scicloj/scicloj.ml.smile {:mvn/version "7.5.0"}}}
  
  :runner {:main-opts ["-m" "kaocha.runner"]
           :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
  
    :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? false
                       :artifact "target/sklearn-clj-0.5.jar"}}}}
